<div
  [formGroup]="loginFormGroup"
  *ngIf="!loading; else loadingTemplate"
  class="align-items-center"
>
  <h1>Welcome to my homepage!</h1>
  <mat-form-field>
    <mat-label for="email">Email:</mat-label>
    <input matInput type="text" formControlName="email" />
    <mat-error *ngIf="loginFormGroup.controls['email']?.invalid">
      Email is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="password">Password:</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="loginFormGroup.controls['password']?.invalid">
      Password is required
    </mat-error>
  </mat-form-field>
  <span>
    <span>
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [matTooltip]="
          'Pssst! Admin user is: ' +
          authService.adminUserEmail +
          ' with password: asd123'
        "
      >
        Login
      </button>
    </span>
    <span>
      <button mat-raised-button color="primary" [routerLink]="'/signup'">
        Sign Up
      </button>
    </span>
  </span>
</div>

<ng-template #loadingTemplate>
  <span class="loading-indicator">
    <mat-spinner></mat-spinner>
  </span>
</ng-template>
